
@media screen and (max-width: 480px) {
    main {
         margin-inline: $margen-celular;
    }

    .imagen {
         max-width: 200px;
    }

    .fila {
         justify-content: center;
         text-align: center;
    }

    .columna {
         max-width: 2500px;
    }

    .galeria-imagen {
         max-width: 250px;
    }
}