@media screen and (max-width: 1024px) {
    main {
         margin-inline: $margen-tablet;
    }

    .imagen {
         max-width: 300px;
    }

    .fila {
         justify-content: center;
         text-align: center;
    }

    .columna {
         max-width: 300px;
    }

    .galeria-imagen {
         max-width: 300px;
    }
}
