@media screen and (max-width: 1920px) {

     .imagen {
          max-width: 300px;
     }

     .fila {
          justify-content: center;
          text-align: center;
     }

     .galeria-imagen {
          max-width: 300px;
     }

     .mapa {
          width: 600px;
          height: 400px;
     }
}